RewriteEngine On

# use for authentication

RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

Header set Access-Control-Allow-Origin *

RewriteRule ^upload-photo$ core/upload-photo.php [L]
RewriteRule ^upload-multiple-photo$ core/upload-multiple-photo.php [L]

# HEADER
RewriteRule ^header$ controllers/developer/header/header.php [L]
RewriteRule ^header/([0-9]+)$ controllers/developer/header/header.php?headerid=$1 [L]

# ABOUT
RewriteRule ^about$ controllers/developer/about/about.php [L]
RewriteRule ^about/([0-9]+)$ controllers/developer/about/about.php?aboutid=$1 [L]

# SERVICES
RewriteRule ^services$ controllers/developer/services/services.php [L]
RewriteRule ^services/([0-9]+)$ controllers/developer/services/services.php?servicesid=$1 [L]

# CONTACT US
RewriteRule ^contactUs$ controllers/developer/contact-us/contactUs.php [L]
RewriteRule ^contactUs/([0-9]+)$ controllers/developer/contact-us/contactUs.php?contactUsid=$1 [L]

# REACH US
RewriteRule ^reachUs$ controllers/developer/reach-us/reachUs.php [L]
RewriteRule ^reachUs/([0-9]+)$ controllers/developer/reach-us/reachUs.php?reachUsid=$1 [L]

# COPYRIGHT
RewriteRule ^copyright$ controllers/developer/copyright/copyright.php [L]
RewriteRule ^copyright/([0-9]+)$ controllers/developer/copyright/copyright.php?copyrightid=$1 [L]

# TESTIMONIAL
RewriteRule ^testimonial$ controllers/developer/testimonial/testimonial.php [L]
RewriteRule ^testimonial/([0-9]+)$ controllers/developer/testimonial/testimonial.php?testimonialid=$1 [L]

# COLORS
RewriteRule ^colors$ controllers/developer/colors/colors.php [L]
RewriteRule ^colors/([0-9]+)$ controllers/developer/colors/colors.php?colorsid=$1 [L]
